body {
    font-family: sans-serif;
}

header {
    background-color: MediumPurple;
    color: white;
}
 
 header a {
    background-color: white; 
    color: black;
    font-size: 15px;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    margin: 20 px;
    border: 1px solid white;
 }

 header img {
    padding: 10px;

 }
